<h5>Modal</h5>
<p-button
  (click)="showModalDialog()"
  icon="pi pi-external-link"
  label="Show"
></p-button>
<!-- Content Style is the magic : https://stackoverflow.com/a/55360351 -->
<p-dialog
  [contentStyle]="{ overflow: 'visible' }"
  header="Header"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ height: '30%' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <p-multiSelect
    [options]="cities"
    [(ngModel)]="selectedCities1"
    defaultLabel="Select a City"
    optionLabel="name"
  >
  </p-multiSelect>
</p-dialog>
